@font-face {
    font-family: Barlow;
    src: url(/fuentes/Barlow-ExtraBold.ttf);
}
@font-face {
    font-family: SourceSansRegular;
    src: url(/fuentes/SourceSansPro-Regular.ttf);
}
body{
    font-family:Barlow;
    background: #cfb377;
    overflow-x: hidden;
}
/* LOGIN */
section.sectionTituloAcceso{
    display:flex;
}
form.formularioEntrada{
    text-transform:uppercase;
    margin:auto;
    margin-top:50px;
    padding:50px;
	width:700px;
	background-color:white;
	border-radius:20px;
    text-align: center;    
}
h1.h1Acceso{
    margin:auto;
    margin-top:100px;
    font-size:80px;
    background: #8FAD8A;
    color:white;
    padding:30px;
    border-radius:20px;
}
article.articleLogin{
    margin:auto;
}
section.cuerpoSesion{
    background: white;
    padding-bottom:50px;
    width:700px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px;
}
h2.h2SeleccionPrincipal{
    font-size:40px;
}
a.seleccionPrincipal{
    font-size:22px;
}
a.seleccionPrincipal:hover{
    color:grey;
}


/* Añadir Productos */
section.cuerpo{
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1.h1Anadir{
    text-align: center;
    margin-top:50px;
    margin-bottom:0px;
    font-size:80px;
    background: #8FAD8A;
    color:white;
    padding:30px;
    border-radius:20px;
}
section.englobarMenu{
    display:flex;
    justify-content: center;
    margin-bottom:20px;
    margin-top:20px;
}
.divLogout{
    margin-left:10px;
    display:flex;
    align-items: center;
}
form.uno{
    text-transform:uppercase;
    padding:50px;
	width:90%;
	background-color:white;
	border-radius:20px;
    display:flex;
    justify-content: center;
}

label{
    margin:auto;
    margin-top:20px;
    margin-bottom:15px;
    font-size:40px;
}
input{
    font-size:40px;
    border:1px solid;
    border-radius:0.5em;
}
input.inptAnadirProductos{
    margin-top:50px;
}
article.botones{
    display:flex;
    justify-content: center;
}
select{
    margin-left:30px;
    margin-right:30px;
    font-size:30px;
}
button{
    margin-left:20px;
    font-size:40px;
    border-radius:0.5em;
    border:1px solid;
}
a{
    color:black;
    text-decoration: none;
}
form.dos{
    text-transform:uppercase;
    padding:50px;
	width:90%;
	background-color:white;
	border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.inptPrecio{
    width:150px;
}
.txtAreaDescripcion{
    width:800px;
    height:200px;
}
/* Modificar  productos */

a.flechaVolver{
    background:white;
    padding:20px 50px;
    margin-right:10px;
    display:flex;
    align-items: center;
}
a.aBorrarProductos{
    font-size:20px;
    margin-top:50px;
    background:rgb(212, 212, 212);
    padding:20px 30px;
    border-radius:10px;
}

/*PEDIDOS*/
.aPedido{
    color:blue;
}
.pPedidos{
    font-family: SourceSansRegular;
    font-size:20px;
}
td{
    text-align: center;
}

@media (min-device-width: 320px) and (max-device-width: 736px) {
    h1.h1Acceso{
        margin:auto;
        text-align: center;
        margin-top:50px;
        font-size:60px;
        background: #8FAD8A;
        color:white;
        padding:30px;
        border-radius:20px;
        font-weight: lighter;
    }
    form.formularioEntrada{
        text-transform:uppercase;
        margin:auto;
        margin-top:30px;
        padding:50px;
        width:auto;
        background-color:white;
        border-radius:20px;
        text-align: center;
        font-weight: lighter;    
    }
    .submitEntrar{
        background-color: #F0F0F0;
        color:black;
    }
    #valor{
        width:80%;
    }
    h1.h1Anadir{
        text-align: center;
        margin-top:50px;
        margin-bottom:0px;
        font-size:60px;
        background: #8FAD8A;
        color:white;
        padding:30px;
        border-radius:20px;
        font-weight: lighter;
    }
    section.cuerpoSesion{
        background: white;
        padding-bottom:50px;
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        border-radius:20px;
    }
    .h2SeleccionPrincipal{
        font-weight: lighter;
    }
    form.dos{
        text-transform:uppercase;
        padding:0px;
        padding-bottom:40px;
        width:100%;
        background-color:white;
        border-radius:20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-weight: lighter;
    }
    .dos a{
        text-align: center;
        margin-bottom:10px;
    }
    #cuerpo110{
        width:110%;
    }
    label{
        margin:auto;
        text-align: center;
        margin-top:50px;
        margin-bottom:15px;
        font-size:40px;
        font-weight: lighter;
    }
    input{
        font-size:25px;
        border:1px solid;
        border-radius:0.5em;
    }
    .dos input{
        width:80%;
        font-weight: lighter;
    }
    .txtAreaDescripcion{
        width:90%;
        height:200px;
    }
    .telefono{
        display:none;
    }
    .tdNombre{
        width:50px;
    }
    .pPedidos{
        text-align: center;
    }
    .inptAnadirProductos{
        background-color: #F0F0F0;
        color:black;
    }

}