@font-face {
    font-family: Barlow;
    src: url(/fuentes/Barlow-ExtraBold.ttf);
}
@font-face {
    font-family: SourceSansRegular;
    src: url(/fuentes/SourceSansPro-Regular.ttf);
}
body{
    font-family:Barlow;
    background: #cfb377;
}
/* LOGIN */
section.sectionTituloAcceso{
    display:flex;
}
form.formularioEntrada{
    text-transform:uppercase;
    margin:auto;
    margin-top:50px;
    padding:50px;
	width:700px;
	background-color:white;
	border-radius:20px;
    text-align: center;    
}
h1.h1Acceso{
    margin:auto;
    margin-top:100px;
    font-size:80px;
    background: #E7272D;
    color:white;
    padding:30px;
    border-radius:20px;
}
article.articleLogin{
    margin:auto;
}
section.cuerpoSesion{
    background: white;
    padding-bottom:50px;
    width:700px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px;
}
h2.h2SeleccionPrincipal{
    font-size:40px;
}
a.seleccionPrincipal{
    font-size:22px;
}
a.seleccionPrincipal:hover{
    color:grey;
}


/* Añadir Productos */
section.cuerpo{
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1.h1Anadir{
    text-align: center;
    margin-top:50px;
    margin-bottom:0px;
    font-size:80px;
    background: #E7272D;
    color:white;
    padding:30px;
    border-radius:20px;
}
section.englobarMenu{
    display:flex;
    justify-content: center;
    margin-bottom:20px;
    margin-top:20px;
}
.divLogout{
    margin-left:10px;
    display:flex;
    align-items: center;
}
form.uno{
    text-transform:uppercase;
    padding:50px;
	width:90%;
	background-color:white;
	border-radius:20px;
    display:flex;
    justify-content: center;
}

label{
    margin:auto;
    margin-top:20px;
    margin-bottom:15px;
    font-size:40px;
}
input{
    font-size:40px;
    border:1px solid;
    border-radius:0.5em;
}
input.inptAnadirProductos{
    margin-top:50px;
}
article.botones{
    display:flex;
    justify-content: center;
}
select{
    margin-left:30px;
    margin-right:30px;
    font-size:30px;
}
button{
    margin-left:20px;
    font-size:40px;
    border-radius:0.5em;
    border:1px solid;
}
a{
    color:black;
    text-decoration: none;
}
form.dos{
    text-transform:uppercase;
    padding:50px;
	width:90%;
	background-color:white;
	border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.inptPrecio{
    width:150px;
}
.txtAreaDescripcion{
    width:800px;
    height:200px;
}
/* Modificar  productos */

a.flechaVolver{
    background:white;
    padding:20px 50px;
    margin-right:10px;
    display:flex;
    align-items: center;
}
a.aBorrarProductos{
    font-size:20px;
    margin-top:50px;
    background:rgb(212, 212, 212);
    padding:20px 30px;
    border-radius:10px;
}

/*PEDIDOS*/
.aPedido{
    color:blue;
}
.pPedidos{
    font-family: SourceSansRegular;
    font-size:20px;
}